*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   
    background-image:radial-gradient(rgb(24 23 29),rgb(21 13 14));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
}


main {
    height: 150vh;
    background-image: url("Svgs/IMG-20210815-WA0011.jpg");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Wrapper */
  .eyes {
   
    border-radius: 50%;
    margin: 5px;
    background: #f608c1;
    position: relative;
    overflow: hidden;
  }
  
  /* Eye */
  .eye-retina {
    display: inline-block;
    width: 50%;
    height: 50%;
    background: #fefffe;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  
.left_eye{
    width: 50px;
    height: 36px;
    left: -89px;
    top: -244px;
}

.right_eye{
    width: 48px;
    height: 33px;
    left: 3px;
    top: -273px;
}
  
  /* lashes */
  .eye-lash {
    position: absolute;
    height: 50%;
    background: #0082b3;
    width: 100%;
    z-index: 1;
  }

  .up {
    top: -50%;
    animation: blinkbottom 10s linear infinite;
  }
  
  .down {
    bottom: -50%;
    animation: blinktop 10s linear infinite;
  }
  
  @keyframes blinkbottom {
    0% {
      top: -50%;
    }
    5% {
      top: 0;
    }
    10% {
      top: -50%;
    }
  }
  
  @keyframes blinktop {
    0% {
      bottom: -50%;
    }
    5% {
      bottom: 0;
    }
    10% {
      bottom: -50%;
    }
  }
